.header {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    padding: 4px;
    background-color: #949494; /* <-- LÍNEA AÑADIDA */
}

.container-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.lista {
    display: flex;
    gap: 1rem; 
    list-style: none;
    padding: 0;
    margin: 0; 
    
}